<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/common.min.css' />
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1>Hello World</h1>
    <p>Welcome to <%= title %></p>
    <p><a href="login">登陆</a></p>
</body>
</html>